/* aspect-ratio: 16/9; inline-size: 100% */
:root {
    --midFont: 12px;
    --smFont: 10px;
}

.carousel {
    width: 98vw;
    background-color: #212121;
    box-shadow: 0 0 15px 0px #606060;
}
 
.carousel-item:hover {
    cursor: pointer;
}

.carousel-item>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cImgParent {
    /* height: 280px;
    width: 280px; */
}

.cImgParent img {
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
    aspect-ratio: 16/9;
    inline-size: 100%;
}



@media (min-width: 768px) {
    .carouselCol-1 {
        justify-content: end !important;
        padding: 0 70px;
    }

    .carouselCol-2 {
        justify-content: start !important;
    }
}

/* Electronics Css */
.eImgParent {
    /* height: 180px; */
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eImgParent img {
    /* height: 100%;
    width: 100%; */
    /* object-fit: cover; */
    border-radius: 8px 8px 0 0;
    aspect-ratio: 16/9;
    inline-size: 100%;
}

.eImgParent img:hover {
    transition: 200ms ease-in-out;
    transform: scale(1.1);
    /* box-shadow: 0px 0px 10px 0px #bee2ff ; */
}

.eCard {
    /* border: 1px solid white; */
    background-color: #212121;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 180px;
    border-radius: 8px;
}

.eCard:hover {
    cursor: pointer;
}

.electBtn {
    background-color: white;
    color: black;
    font-size: 25px;
    border: 1px solid white;
    height: 80px;
    padding: 0 5px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}


/* SqrCard Css */


.sqCard {
    /* background-color: #212121; */
    border: 1px solid rgb(103, 103, 103);
    height: 250px;
    width: 180px;
    border-radius: 8px;
}

.sqCard:hover {
    cursor: pointer;
}

.sqImgParent {
    width: 178px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sqImgParent img {
    height: 100%;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.sqImgParent img:hover {
    transition: 200ms ease-in-out;
    transform: scale(1.1);
    border-radius: 8px !important;
    /* box-shadow: 0px 0px 10px 0px #bee2ff ; */
}



/* Slick Css */

.slick-slide>div {
    margin: 0 5px;
}

/* To remove the default btns */
.slick-prev:before,
.slick-next:before {
    content: '' !important;
}


/* Responsiveness */

@media (max-width:768px) {

    /* Carousel */
    .carousel {
        width: 85vw;
        min-height: 380px;
    }

    .carousel-item .row {
        gap: 15px
    }

    .carouselCol-2 {
        padding-left: 30px !important;
    }

    /* MultiCarousel */
    .ecardParent {
        width: 85vw !important;
    }

    .eCard {
        height: 120px !important;
        width: 72px !important;
        justify-content: initial;
    }

    .eImgParent {
        width: 70px;
    }

    .eCard h5 {
        font-size: var(--midFont) !important;
    }

    .eCard h6 {
        font-size: var(--smFont) !important;
    }

    .electBtn {
        font-size: 15px;
        height: 50px;
    }

    /* Square Card */
    .sqCard {
        height: 150px;
        width: 120px;
        margin: 30px 10px !important;
    }

    .sqImgParent {
        height: 148px;
        width: 130px;
    }

    .sqCard h5 {
        font-size: 16px !important;
    }

    .col-md-4 {
        margin: 30px 0;
    }
}

@media (min-width: 440px) and (max-width: 767.9px) {
    .sqCard {
        height: 180px;
        width: 100px;
        margin: 20px 2px !important;
    }

    .sqImgParent {
        height: 110px;
        width: 98px;
    }

    .sqCard h5 {
        font-size: 14px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    .sqCard {
        height: 180px !important;
        width: 100px !important;
        margin: 20px 2px !important;
    }

    .sqImgParent {
        height: 110px !important;
        width: 98px !important;
    }

    .sqCard h5 {
        font-size: 16px !important;
    }

    .col-md-4 h4 {
        font-size: 18px;
    }
}


@media (min-width: 992px) and (max-width: 1399.9px) {
    .sqCard {
        height: 200px;
        width: 130px;
    }

    .sqImgParent {
        height: 120px;
        width: 128px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    .eCard {
        height: 200px;
        width: 160px;
    }

    .eImgParent {
        width: 128px;
    }

    .eCard h5 {
        font-size: var(--midFont) !important;
    }

    .eCard h6 {
        font-size: var(--smFont) !important;
    }

    .sqCard {
        height: 250px;
        width: 160px;
    }

    .sqImgParent {
        height: 150px;
        width: 158px;
    }
}

@media (min-width: 992px) and (max-width: 1139.9px) {
    .eImgParent {
        width: 148px;
    }

    .eCard h5 {
        font-size: 15px !important;
    }

    .eCard h6 {
        font-size: 13px !important;
    }
}