.pOutParent {
    background-color: #212121;
    width: 80vw;
    box-shadow: 0 0 15px 0px #606060;
}

.pOutParent {
    cursor: pointer;
}

.pOutImgParent img {
    object-fit: cover;
    aspect-ratio: 16/9;
    inline-size: 100%;
}

.pCard {
    background-color: #212121;
    width: 60vw;
}

.pCard:hover {
    cursor: pointer;
}

.pImgParent {
    width: 250px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pImgParent img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.pImgParent img:hover {
    transition: 200ms ease-in-out;
    transform: scale(1.1);
    border-radius: 8px !important;
    /* box-shadow: 0px 0px 10px 0px #bee2ff ; */
}


/* Slick Css */

.slick-dots li button:before {
    color: rgb(178, 178, 178) !important;
}

.slick-dots li.slick-active button::before {
    color: white !important;
    transform: scale(1.5);
}

.desBtn {
    color: white;
    font-size: 25px;
    height: 80px;
    padding: 0 5px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 100ms ease-in-out;
    top: 0;
    right: 0;
}

.desPrev:hover {
    transform: scale(1.1);
    right: 5px;
}

.desNext:hover {
    transform: scale(1.1);
    left: 5px;
}

.myAlert {
    height: 50px;
    font-size: 18px;
    background-color: #11af11;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* To remove the default btns */
.slick-prev:before,
.slick-next:before {
    content: '' !important;
}

/* FeedBack Form css */

.fbParent {
    height: 85vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fbParent .fbInput {
    background: transparent !important;
    color: white !important;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(115, 115, 115);
    width: 350px;
}

.fbParent button {
    width: 350px;
}

/* QueryPage css */

.sortby {
    cursor: pointer;
    display: inline-block;
    text-transform: none !important;
    color: #8d8d8d;
}

.sortActive {
    color: rgb(0, 170, 238) !important;
    border-bottom: 2px solid rgb(0, 170, 238);
    transform: scale(1.1);
}

/* PageNotFound css */

.pnfParent {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pnfParent button:hover {
    transition: 100ms ease-in-out;
    transform: scale(1.1);
}

.pnfParent i {
    font-size: 50px;
}

/* Auth css */

.authContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #25262B;
    border-radius: 15px;
    color: white;
    height: 550px;
}

.authContainer input {
    background: transparent !important;
    color: white !important;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(115, 115, 115);
    width: 350px;
}

.authContainer button {
    width: 350px;
}

.eyeLogo {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.loginLink:hover {
    color: #858585 !important;
}

::placeholder {
    color: white !important;
    opacity: 0.5 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #25262B inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}


/*************************************** Responsiveness ***************************************/

@media (min-width: 768px) and (max-width: 991.98px) {
    .authContainer {
        width: 60%;
    }
}

@media (max-width: 767.9px) {
    .pCard {
        width: 90vw;
        flex-wrap: nowrap;
    }

    .pImgParent {
        height: 120px;
        width: 150px;
    }

    .pOutImgParent {
        padding-right: 0 !important;
    }

    .pCard .col-md-6 {
        width: 50%;
    }

    .pCard h4 {
        font-size: 16px;
    }

    .pCard h5 {
        font-size: 14px;
    }

    .pCard h6,
    i {
        font-size: 12px;
    }

    .topHeading {
        font-size: 20px;
    }

    .atcBtn {
        font-size: 12px;
    }

    .pContent>:last-child {
        display: flex;
        justify-content: center;
    }

    .pContent {
        margin: 25px 0px;
    }

    .pContent h2 {
        font-size: 20px;
    }

    .pContent h5 {
        font-size: 14px;
    }

    .pContent h6 {
        font-size: 12px;
    }

    .sortParent {
        width: 90vw !important;
        font-size: 14px;
    }


    .authContainer {
        /* width: 95%; */
        width: 100%;
    }

    .authContainer input {
        width: 280px;
    }

    .authContainer button {
        width: 280px;
    }

    .authContainer .loginLink:hover {
        color: inherit !important;
    }

    .fbParent {
        height: 78vh;
        width: 90vw;
    }

    .fbParent .fbInput {
        width: 280px;
    }

    .fbParent button {
        width: 280px;
    }
}

/* pContent to be jus-C-C in resposive */